<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>192980784715-ub2jh0mk74ildlcun4ale5mijdrf3ccs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192980784715-ub2jh0mk74ildlcun4ale5mijdrf3ccs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192980784715-mr7qgmk1u3kelfria0ma0uds12efou8m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Xb-Y_nI6wDGoWxgYA4S8LLL3bynH-tY</string>
	<key>GCM_SENDER_ID</key>
	<string>192980784715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BossOfDating.Lovecent</string>
	<key>PROJECT_ID</key>
	<string>datingboss-3ef9c</string>
	<key>STORAGE_BUCKET</key>
	<string>datingboss-3ef9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192980784715:ios:65b6a88c5c219644</string>
	<key>DATABASE_URL</key>
	<string>https://datingboss-3ef9c.firebaseio.com</string>
</dict>
</plist>